<!-- <div class="d-flex flex-column m-auto">
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3">Login</span>
    <input
      type="text"
      pInputText
      [ngClass]="{'input-error': !login || login.length < 3}"
      [(ngModel)]="login"
    />
  </div>

  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3">Password</span>
    <input type="password"
           pInputText
           [ngClass]="{'input-error': !password || password.length < 6}"
           [(ngModel)]="password"/>
  </div>

  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3">Password repeat</span>
    <input type="password"
           pInputText
           [ngClass]="{'input-error': password !== repeatPassword}"
           [(ngModel)]="repeatPassword"
    />
  </div>

  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3">Email</span>
    <input type="email"
           pInputText
           [(ngModel)]="email"/>
  </div>

  <div
    class="mt-3 d-flex justify-content-between align-items-center flex-wrap"
    *ngIf="isShowCardNumber"
  >
    <span class="mx-3">Card number</span>
    <input type="text"
           pInputText
           [(ngModel)]="cardNumber"/>
  </div>

  <div class="mt-3">
    <p-checkbox
      label="Сохранить пользователя в локальном хранилище"
      [binary]="true"
      [(ngModel)]="isRemember"
    ></p-checkbox>
  </div>

  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <p-button
      label="Sign Up"
      [disabled]="!login || !password || login.length < 3 || password.length < 6"
      (onClick)="registration()"
    ></p-button>
  </div>

</div> -->


<form [formGroup]="registrationForm">
  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <label for="login">логин:</label>
    <input id="login" formControlName="login" />
    <div *ngIf="registrationForm.get('login')?.invalid && registrationForm.get('login')?.touched">
      <small>логин обязателен</small>
    </div>
  </div>
 
  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <label for="email">Email:</label>
    <input id="email" formControlName="email" />
    <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
      <small *ngIf="registrationForm.get('email').errors?.['required']">Email обязателен</small>
      <small *ngIf="registrationForm.get('email').errors?.['email']">Введите корректный email</small>
    </div>
  </div>

  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <label for="password">Пароль:</label>
    <input type="password" id="password" formControlName="password" />
    <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
      <small *ngIf="registrationForm.get('password')?.errors?.['required']">Пароль обязателен</small>
      <small *ngIf="registrationForm.get('password')?.errors?.['minlength']">Пароль должен содержать минимум 6 символов</small>
    </div>
  </div>

   <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <label for="cardNumber">номер карты:</label>
    <input type="cardNumber" id="cardNumber" formControlName="cardNumber" />
    <div *ngIf="registrationForm.get('cardNumber')?.invalid && registrationForm.get('cardNumber')?.touched">
    </div>
  </div>

  <p-button (click)="registration()" [disabled]="registrationForm.invalid">Зарегистрироваться</p-button>
</form>
